<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' />
    <link rel="stylesheet" href="all.css">
</head>

<body>
    <div id="app" class="container">
        <loading :active.sync="isLoading"></loading>
        <div class="row">
            <div class="col-4 mb-3 mt-2" v-for="item in products" ::key="item.id">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-top bg-img" :style="{backgroundImage:`url(${item.imageUrl[0]})`}"></div>
                    <div class="card-body">
                        <span class="badge badge-secondary float-right">{{item.category}}</span>
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.content}}</p>
                        <div v-if="item.origin_price != item.price">
                            <del>原價{{item.origin_price}}元</del>
                            <h5>大特價{{item.price}}元</h5>
                        </div>
                        <div v-else>
                            <h5>原價{{item.price}}元</h5>
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-secondary btn-sm" @click="showProduct(item.id)"
                            :disabled="status.loadingItem != ''">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
                                v-if="status.loadingItem === item.id"></span>
                            <span class="sr-only">Loading...</span>
                            查看更多
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" @click="addToCart(item.id)"
                            :disabled="status.loadingItem != ''">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
                                v-if="status.loadingItem === item.id"></span>
                            <span class="sr-only">Loading...</span>
                            加到購物車</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-6">
                <div class="text-right mb-3">
                    <button type="button" class="btn btn-outline-danger btn-sm" @click="removeCart('all')"
                        :disabled="carts.length === 0">
                        <i class="far fa-trash-alt">
                            刪除所有項目
                        </i>
                    </button>
                </div>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th>刪除</th>
                            <th>品名</th>
                            <th width="150px">數量</th>
                            <th>單位</th>
                            <th>單價</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in carts" :key="item.product.id">
                            <td scope="row" class="align-middle">
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    @click="removeCart(item.product.id)">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                            <td class="align-middle">{{item.product.title}}</td>
                            <td class="align-middle">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            @click="item.quantity += 1">+</button>
                                    </div>
                                    <input type="number" min="1" class="form-control text-center"
                                        :value="item.quantity">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            @click="item.quantity <= 1 ? 1 : item.quantity -= 1">-</button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{item.product.unit}}</td>
                            <td class="align-middle text-right">{{item.product.price}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="text-right">
                            <td colspan="4" class="align-middle">總計</td>
                            <td class="align-middle">{{ cartTotal }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="row justify-content-center mt-4 mb-3">
            <div class="col-6">
                <validation-observer v-slot="{ invalid }">
                    <form @submit.prevent="submitForm">
                        <validation-provider rules="required" v-slot="{errors,classes}">
                            <div class="form-group">
                                <label for="userName" class="form-label">收件人姓名</label>
                                <input type="text" name="userName" class="form-control" :class="classes"
                                    v-model="user.Name" id="userName" placeholder="請填入收件人" />
                                <span class="invalid-feedback">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>

                        <validation-provider rules="required|email" v-slot="{errors,classes}">
                            <div class="form-group">
                                <label for="userEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" :class="classes" id="userEmail"
                                    v-model="user.Email" name="userEmail" placeholder="請填入信箱" />
                                <span class="invalid-feedback">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>

                        <validation-provider :rules="{regex: /^[0-9]+$/,required:true,min:10,max:10}"
                            v-slot="{ errors,classes}">
                            <div class="form-group">
                                <label for="userPhone" class="form-label">電話</label>
                                <input type="tel" class="form-control" :class="classes" id="userPhone"
                                    v-model="user.Phone" name="userPhone" placeholder="請填入電話" />
                                <span class="invalid-feedback">{{errors[0]}}</span>
                            </div>
                        </validation-provider>

                        <validation-provider rules="required" v-slot="{errors,classes}">
                            <div class="form-group">
                                <label for="userAddress" class="form-label">地址</label>
                                <input type="text" class="form-control" :class="classes" id="userAddress"
                                    v-model="user.Address" placeholder="請填入收地址" />
                                <span class="invalid-feedback">{{errors[0]}}<span>
                            </div>
                        </validation-provider>

                        <validation-provider rules="required" v-slot="{errors,classes}">
                            <div class="form-group">
                                <label for="pay" class="form-label">購買方式</label>
                                <select class="form-control custom-select" :class="classes" id="pay" name="pay"
                                    v-model="user.Pay">
                                    <option disabled selected="selected" value="">請選擇購買方式</option>
                                    <option value="WebATM">
                                        WebATM
                                    </option>
                                    <option value="ATM">
                                        ATM
                                    </option>
                                    <option value="CVS">
                                        CVS
                                    </option>
                                    <option value="Barcode">
                                        Barcode
                                    </option>
                                    <option value="Credit">
                                        Credit
                                    </option>
                                    <option value="ApplePay">
                                        ApplePay
                                    </option>
                                    <option value="GooglePay">
                                        GooglePay
                                    </option>
                                </select>
                                <span class="invalid-feedback">{{errors[0]}}</span>
                            </div>
                        </validation-provider>

                        <div class="form-group">
                            <label for="message" class="form-label">留言</label>
                            <textarea name="message" id="message" v-model="user.Message"
                                class="form-control"></textarea>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary mx-auto"
                                :disabled="invalid || carts.length == 0">送出表單</button>
                        </div>
                    </form>
                </validation-observer>
            </div>
        </div>
        <product-modal :user="user" :url="url" ref="productModal" @send-status="changeStatus" @add-cart='addToCart'>
        </product-modal>

        <!-- 完成訂單 Modal -->
        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="orderModalLabel">完成訂單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">恭喜你已完成訂單。</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 重複選購 Toast -->
        <toast ref="toast"></toast>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
    <script type="module" src="./js/active.js"></script>
</body>

</html>